{% extends 'layout.html' %} {% block main %} {% for example in examples %}
<div class="col-lg-4 col-md-3 col-sm-4">
    <a href={{example.link}} target="_blank"><img src={{example.link}}></a>
    <div class="cover-info">
        <a href={{example.link}} target="_blank">
            <h4>{{example.title}}</h4>
        </a><small>{{example.des}}</small></div>
    <div class="cover-fields"><i class="fa fa-list-ul"></i> &nbsp; {{example.tag.toString()}}</div>
    <div class="cover-stat"><i class="fa fa-eye"></i><span class="f10"> &nbsp;{{example.see}}</span><i class="fa fa-heart"></i></i><span class="f10"> &nbsp;{{example.love}}</span></div>
</div>
{% endfor %} {% endblock%}