<!DOCTYPE html>
<html>

<head>
    <title>jQuery插件库-收集最全最新最好的jQuery插件</title>
    <meta name="description" content="本站致力于收集jQuery插件和提供各种jQuery特效的详细使用方法,在线预览，jQuery插件下载及教程" />
    <meta name="keywords" content="jQuery,jQuery特效,jQuery ui,jQuery插件,jQuery 教程,css3,网页特效,JS特效" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="Shortcut icon" href="img/favicon.ico" />
    <link href="public/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="public/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/css/my.css" rel="stylesheet" media="screen">
    <link href="public/css/index.css" rel="stylesheet" media="screen">
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-example">
    <!--nav-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-logo" href="http://www.jq22.com/"><img src="public/img/logo.png" height="100%" alt="超"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/super918180" target="_blank"><i class="fa fa-github"></i> &nbsp;GitHub</a></li>
                    <li><a href="http://www.cnblogs.com/songxiaoyu" target="_blank"><i class="fa fa-address-book" aria-hidden="true"></i> &nbsp;博客</a></li>
                    <li>
                        <a id="jiawo" href="javascript:;" target="_blank">
                            <i class="fa fa-weixin" aria-hidden="true"></i> &nbsp;加我
                            <div>
                                <img src="public/img/jiawo.png" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
                <form id="search-header" class="navbar-form navbar-right hidden">
                    <div class="form-group">
                        <input id="searchtxt-header" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button id="seobut-header" type="submit" class="btn">Go</button>
                </form>
            </div>
        </div>
    </nav>
    <!--end nav-->
    <div class="container-fluid banner banbk">
        <div class="banseo">
            <div class="banjz"><span>少壮不努力，老大徒伤悲</span></div>
            <input type="text" class="bantxt" id="searchtxt" placeholder="输入插件关键字.."><button class="btn banbutt" type="button" id="seobut"><i class="fa fa-chevron-circle-right"></i> 找到你梦想</button><span class="seoicn"><i class="fa fa-search"></i></span>
        </div>
    </div>

    <!--nav-->
    <div class="yn jz container-fluid nav-bg m0" id="menu_wrap">
        <div class="container m0" style="position:relative;">
            <a class="nzz" href="category/html5" id="z1"><span class="sort"><i class="fa fa-html5"></i>&nbsp;HTML5</span></a>|
            <a class="nzz" href="category/css3" id="z2"><span class="sort"><i class="fa fa-css3"></i>&nbsp;CSS3</span></a>|
            <a class="nzz" href="category/jquery" id="z3"><span class="sort"><i class="fa fa-quora"></i>&nbsp;jQuery</span></a>|
            <a class="nzz" href="category/canvas" id="z4"><span class="sort "><i class="fa fa-pie-chart"></i>&nbsp;Canvas</span></a><span class="navxs">|
            <a class="nzz" href="category/svg" id="z5"><span class="sort"><i class="fa fa-line-chart"></i>&nbsp;SVG</span></a>|
            <a class="nzz" href="category/bootstrap" id="z5"><span class="sort"><i class="fa fa-bold"></i>&nbsp;Bootstrap</span></a>|
            <a class="nzz" href="category/node" id="z5"><span class="sort"><i class="fa fa-code"></i>&nbsp;Node.js</span></a>
        </div>
    </div>
    <!--end nav-->
    <!--主体-->
    <div class="container-fluid m" id="zt">
        <div class="container m0 bod">
            {% block main %}{% endblock %}
        </div>
    </div>
    <!--end主体-->
    <script src="public/js/index.js"></script>
    <nav class="foot navbar-inverse navbar-fixed-bottom">
        <ul class="list-inline">
            <li class="footer-ss"><a href="copyright.aspx">版权声明</a></li>
            <li class="footer-ss"><a href="feedback.aspx">在线反馈</a></li>
            <li class="footer-ss">帮助中心</li>
            <li>Copyright © 宋加超</li>
        </ul>
        <ul class="list-inline text-right">
            <li>

            </li>
        </ul>
    </nav>
</body>

</html>